@page "/login"
@* Login Page *@
<div class="ds-login-layout">
    <div class="ds-login-form">
        <h1>DailyScript</h1>
        <div class="ds-login-sub">Secure Daily Journaling</div>
        <label class="ds-login-pinlabel">Enter 4-Digit PIN</label>
        <div class="ds-login-pin-display">
            <span>●</span><span>●</span><span>●</span><span>●</span>
        </div>
        <div class="ds-login-pad">
            <button>1</button><button>2</button><button>3</button>
            <button>4</button><button>5</button><button>6</button>
            <button>7</button><button>8</button><button>9</button>
            <button class="clear">Clear</button><button>0</button><button class="enter">Enter</button>
        </div>
    </div>
</div>